
.background{
    width:100%;
    height: 768px;
    background-image: url(../img/Background.png);
}
.background h1 {
    color: #fff;
    padding-top: 267px;
    padding-left: 165px;
    font-size: 64px;
    
}
.background p{
    color: #fff;
    font-size: 30px;
    padding-left: 165px;
}
.background a{
    color: #fff;
    font-size: 20px;
    padding-left: 165px;
}
.about{
    width: 100%;
    height: 544px;
    background-color: #fff;
}
.about h2{
    margin-left: 166px;
    margin-top: 95px;
    font-size: 30px;
}
.wrapper{
    background-color: #fff;
    padding: 150px;
    font-size: 25px;
}
.skills{
    width: 100%;
    height: 693px;
    background-color: #FFFAF2;
    padding: 50px 50px 50px 50px;
}

.skills h1{
    font-size: 30px;
    padding-left: 166px;
}
.skills img{
    padding-top: 60px;
    padding-left: 166px;
}
.profile{
    display: flex;
    float: right;
    padding-top: 37px;
}
.grid-container{
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns:auto auto;
    margin-right: 200px;
}
.grid-item{
    text-align: center;
    font-size: 20px;
    margin-right: 170px;
}
.Portfolio {
    width: 100%;
    height: 750px;
    position: relative;
    padding: 50px 50px 50px 50px;
}
.Portfolio h1 {
    font-size: 30px;
    margin-left: 166px;
    position: absolute;
    padding-top: 40px;
}
.ux {
    position: absolute;
    padding-top: 150px;
    margin-left: 166px;
}
.portfolio-pg {
    position: absolute;
    padding-top: 240px;
    margin-left: 166px;
    font-size: 20px;
}
.portfolio-img {
    display: flex;
    float: right;
    margin-right: 350px;
    margin-top: 246px;
}
.container-grid-img{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px ;
}
.grid-item-img{
    height: 170px;
}
.bilding{
    padding: top 25px; 
    margin-bottom: -218px;